.version.contact_us /* version checker */
{
	color: #0000F0;
	background-color: #552986;
}

.html
{
	background: #FFFFFF url("../images/contact_us_banner1.jpg") no-repeat left top scroll;
	background-size: contain;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 173px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pamphletu959
{
	z-index: 2;
	width: 0.01px;
	height: 221px;
	margin-left: 67px;
	position: relative;
}

#u960
{
	position: absolute;
	width: 381px;
	top: 20px;
}

#u960popup
{
	z-index: 3;
}

#u961
{
	z-index: 4;
	width: 379px;
	height: 193px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
}

#u962-10
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 19px;
}

#u971
{
	z-index: 15;
	width: 391px;
	height: 172px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 0px 15px 15px 15px ;
	position: relative;
	margin-right: -10000px;
	margin-top: -20px;
	left: 294px;
}

#u972-3
{
	z-index: 16;
	width: 340px;
	min-height: 140px;
	background-color: transparent;
	line-height: 22px;
	color: #6B6B6B;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 14px;
}

#u1003
{
	z-index: 19;
	width: 150px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: -1px;
}

#u1009-7
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 150px;
}

#u966
{
	z-index: 28;
	width: 379px;
	height: 181px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	border-radius: 15px 15px 15px 0px ;
	margin-bottom: -5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 528px;
}

#u1541
{
	z-index: 36;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 11px;
}

#u1016-7
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 153px;
}

#u978
{
	z-index: 38;
	width: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 205px;
	left: 371px;
}

#u979
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
}

#u979:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u979.PamphletThumbSelected
{
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u980
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 41px;
}

#u980:hover
{
	background-color: #999999;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u981
{
	position: absolute;
	width: 16px;
	height: 16px;
	background-color: #C4C4C4;
	border-radius: 10px;
	left: 80px;
}

#u981:hover
{
	border-color: #000000;
	background-color: #999999;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

#u980.PamphletThumbSelected,#u981.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #6B6B6B;
	border-radius: 10px;
	width: 16px;
	height: 16px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#buttonu1278
{
	z-index: 42;
	width: 231px;
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	left: -48px;
	margin-top: 111px;
	position: relative;
}

#buttonu1278:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 111px 0px 0px;
}

#u1280-4
{
	z-index: 43;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	color: #4BB5DF;
	font-size: 17px;
	letter-spacing: 1px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 67px;
}

#buttonu1278:hover #u1280-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 119px;
	margin: 18px -10000px 0px 0px;
}

#buttonu1278:hover #u1280-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1279
{
	z-index: 47;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #545454;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu1278:hover #u1279
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu1278.ButtonSelected #u1279
{
	background-color: #545454;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

